footer {
    width: 100%;
    height: 40rem;
    background: #303030;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.links-footer {
    width: fit-content;
}

.img-reseau {
    height: 100%;
    width: auto;
}