header {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 4rem;
    gap : 5rem;
    height: 10vh;
    width: 100%;
    position: fixed;

    z-index: 9999 !important;

    background-color: #969696;
}

.links {
    height: fit-content;
    width: auto;

    display: flex;
    flex-direction: row;
    gap : 3rem;
}

.links a h4 {
    margin: 0;
}