* {
    font-family: sans-serif;
    text-decoration: none;
    margin: 0;
}

body {
    /* width: 100vw; */
    height: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    gap: 1rem;
    top: 0;
    left: 0;
}